@model AguaDulce.Web.Models.ServicioModel

@{
    ViewData["Title"] = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fade-in mb-5">
    <div class="m-4">
         <a asp-action="Index" class="mb-4">
            <h5>  &larr; servicios</h5>
        </a>
        <div class="container mt-5">
            <div class="row align-items-center">
                <div >
                    <div class="row align-items-center">
                        @*<div class="col-md-4 text-center p-4">
                            <img src="@Model.IconoUrl"
                                 alt="@Model.Titulo"
                                 class="img-fluid"
                                 style="max-height: 200px; object-fit: contain;" />
                        </div>*@
                        @*<div class="col-md-8">*@
                        <div class="card-body">
                            @*<h2 class="card-title mb-3">@Model.Titulo</h2>*@
                            <h2 class="mb-3">@Model.Titulo</h2>
                            <p style="font-size:1.1em; line-height:1.6" class="card-text">@Model.DescripcionLarga</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container my-5 text-center">
    <div class="row g-4 g-md-5 p-5 py-md-5">
        <div class="row g-0 my-5">
            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Nosotros" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-users fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Nosotros</span>
                </a>
            </div>
            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Trabajo" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-hands-helping fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Trabajo</span>
                </a>
            </div>
            <div class="col-md-4 col-4">
                <a asp-controller="Contacto" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-envelope fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Contacto</span>
                </a>
            </div>
        </div>
    </div>
</section>