@model AguaDulce.Web.Models.ServicioModel

@{
    ViewData["Title"] = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fade-in mb-5">
    <div class="m-4">
        <div class="enlace-moderno">
            <a asp-controller="Servicios" asp-action="Index" class="iconosLink">
                <h5>  &larr; volver a servicios</h5>
            </a>
        </div>
        <div class="container mt-5">
            <div>
                <div>
                    <div class="row align-items-center">
                        <div class="card-body">
                            <h2 class="mb-3">@Model.Titulo</h2>
                            <p>@Model.DetalleSeccion</p>
                            @if (Model.DescripcionLarga != null) {
                            foreach (var seccion in Model.DescripcionLarga) {
                            <p class="mt-4">@seccion.Mensaje</p>
                            <h5 class="mt-5">@seccion.TituloSeccion</h5>
                            <p>@seccion.Contenido</p>
                            @if (seccion.Items != null) {
                            @foreach (var item in seccion.Items) {
                            <ul>
                                <li>@item</li>
                            </ul>
                                 }
                                }
                            <div class="enlace-moderno">
                                <a asp-controller="Contacto" asp-action="Index" class="iconosLink">
                                    <h6 class="mt-5 text-end">@seccion.Link</h6>
                                </a>
                            </div>
                             }
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
    @*<div class="d-flex text-center m-4">
        <div class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/1" class="iconosLink">Mentoría</a></div>
        </div>
        <div class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <div class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/2" class="iconosLink">Consultoría</a></div>
        </div>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/3" class="iconosLink">Redacción</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/4" class="iconosLink">Corrección</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/5" class="iconosLink">Diseño</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/6" class="iconosLink">Publicación</a></li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
            <li class="mb-2 nav-card enlace-moderno"><a href="~/Servicios/Details/7" class="iconosLink">Gestión</a></li>
        </ul>
    </div>*@
</section>

<section class="container my-5 text-center">
    <div class="row g-4 g-md-5 p-5 py-md-5">
        <div class="row g-0 my-5">
            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Nosotros" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-users fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Nosotros</span>
                </a>
            </div>
            <div class="col-md-4 col-4 border-end">
                <a asp-controller="Trabajo" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-hands-helping fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Trabajo</span>
                </a>
            </div>
            <div class="col-md-4 col-4">
                <a asp-controller="Contacto" asp-action="Index" class="nav-card enlace-minimalista">
                    <i class="fas fa-envelope fa-2x mr-2 iconosLink"></i>
                    <span class="mx-3">Contacto</span>
                </a>
            </div>
        </div>
    </div>
</section>