@model AguaDulce.Web.Models.ServicioModel

@{
    ViewData["Title"] = Model.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="fade-in mb-5">
    <div class="m-4">
        <div class="enlace-moderno">
            <a asp-controller="Servicios" asp-action="Index" class="iconosLink">
                <h5>  &larr; volver a servicios</h5>
            </a>
        </div>
        <div class="container mt-5">
            <div>
                <div>
                    <div class="row align-items-center">
                        <div class="card-body">
                            <h2 class="mb-3">@Model.Titulo</h2>
                            <p>@Model.DetalleSeccion</p>
                            @if (Model.DescripcionLarga != null) {
                            foreach (var seccion in Model.DescripcionLarga) {
                            <p class="mt-4">@seccion.Mensaje</p>
                            <h5 class="mt-5">@seccion.TituloSeccion</h5>
                            <p>@seccion.Contenido</p>
                            @if (seccion.Items != null) {
                            @foreach (var item in seccion.Items) {
                            <ul>
                                <li>@item</li>
                            </ul>
                                 }
                                }
                            <div class="enlace-moderno">
                                <a asp-controller="Contacto" asp-action="Index" class="iconosLink">
                                    <h6 class="mt-5 text-end">@seccion.Link</h6>
                                </a>
                            </div>
                             }
                            }
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
    
       
     <partial name="_NavigationLinksServicios" />
    
   
</section>

<section class="container my-5 text-center">
    <div class="row g-4 g-md-5 p-5 py-md-5">
        <partial name="_NavigationLinks" />
    </div>
</section>
